html {
    scroll-behavior: smooth;
}

#profile-picture {
    height: 250px;
    width: 250px;
}

#nav-bar {
    background-color: #388987;
}

body {
    background-color: #FFFBF5;
    font-family: 'Roboto', sans-serif;
}

#image1, #image2 {
    height: 250px;
    width: auto;
}

#icon-email, #icon-mobile-number {
    height: 35px;
    width: auto;
}

.images-logo {
    height: 90px;
    width: auto;
}

#contact {
    background-color: #A4907C;
}

#navbar {
    background-color: #C8B6A6;
}

#project-1, #project-2 {
    background-color: #F1DEC9;
    border-radius: 25px;
}